.mainContainer {
   width: 25%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.icon {
   width: 72px;
   opacity: 0.3;
   transition: all 0.2s ease;
}

.iconActive {
   opacity: 1;
   transform: scale(1.15);
}

@media (max-width: 768px) {
   .mainContainer {
      width: 50%;
      margin-bottom: 16px;
      order: 1;
   }

   .icon {
      width: 56px;
   }
}