.mainContainer {
   width: 100%;
   min-height: 100vh;
   padding: 24px;
   justify-content: center;
   align-items: center;
}

.contentContainer {
   position: relative;
   width: 100%;
   max-width: 880px;
   padding: 120px 56px 56px;
   align-items: center;
   border-radius: 24px;
   background-color: var(--white);
   box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 16px;
}

.mainLogo {
   position: absolute;
   width: 220px;
   top: -64px;
   animation-name: grow;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

@keyframes grow {
   0% {
      transform: scale(1);
   }

   25% {
      transform: rotate(-355deg);
   }

   50% {
      transform: scale(1.15);
   }

   100% {
      transform: scale(1);
   }
}

.mainTitle {
   margin-right: 24px;
   font-size: 32px;
   font-weight: 600;
   color: var(--darkgrey);
}

.mainTitleSeparator {
   font-weight: bold;
   color: var(--mainred);
}

.optionsContainer {
   width: 100%;
   display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat(5, 1fr);
   margin-bottom: 36px;
}

.ctaContainer {
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

@media (max-width: 768px) {
   .mainContainer {
      padding: 120px 28px 48px;
   }

   .contentContainer {
      padding: 120px 32px 48px;
   }

   .mainTitle {
      margin-right: 0;
      margin-bottom: 16px;
      font-size: 24px;
      text-align: center;
   }

   .mainLogo {
      width: 210px;
   }

   .optionsContainer {
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
   }

   .ctaContainer {
      flex-direction: column;
   }
}