.mainContainer {
   width: 25%;
   padding: 16px 24px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border-radius: 24px;
   background-color: var(--white);
   box-shadow: var(--boxshadow)
}

.pointTitle {
   font-weight: 400;
   color: var(--darkgrey);
}

.pointValueTitle {
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   color: var(--mainred);
}

@media (max-width: 768px) {
   .mainContainer {
      width: 50%;
      order: 2;
   }

   .pointValueTitle {
      font-size: 24px;
   }
}