.mainContainer {
   width: 100%;
   min-height: 100vh;
   padding: 48px 24px;
   z-index: 1;
   justify-content: center;
   align-items: center;
}

.contentContainer {
   width: 100%;
   max-width: 880px;
}

.headerContainer {
   width: 100%;
   margin-bottom: 32px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.mainLogo {
   width: 240px;
   animation-name: grow;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

@keyframes grow {
   0% {
      transform: scale(1);
   }

   25% {
      transform: rotate(-355deg);
   }

   50% {
      transform: scale(1.15);
   }

   100% {
      transform: scale(1);
   }
}

.answerContainer {
   width: 100%;
   display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat(2, 1fr);
   padding: 40px 56px;
   border-radius: 24px;
   background-color: var(--white);
   box-shadow: var(--boxshadow)
}

@media (max-width: 768px) {
   .mainContainer {
      padding: 48px 24px;
   }

   .headerContainer {
      flex-direction: column;
      justify-content: center;
   }

   .mainLogo {
      width: 210px;
      margin-bottom: 16px;
   }

   .answerContainer {
      padding: 32px;
      gap: 16px;
      grid-template-columns: repeat(1, 1fr);
   }
}